
$base-color: #3498db !important;

@mixin navigation-icon {
  cursor: pointer;
  font-size: 5rem !important;
  margin-left: 20px;
  color: $base-color;
}

@keyframes spinner {
  0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
       transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.App {
  text-align: center;

  .spinner {
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;    
    &::before {
        animation: 2s linear infinite spinner;
        border: solid 3px #eee;
        border-bottom-color: $base-color;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 50%;
        opacity: inherit;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
        will-change: transform;
    }
  }

}


.apexcharts-menu-icon {
  visibility: hidden;
}

.main-container {
  .MuiRadio-colorPrimary.Mui-checked {
    color: $base-color;
  }

  border: 1px solid $base-color;

  .unit-selector {
    margin-top: 25px;
  }

  .navigation {
    width: 100%;
    height: 90px;

    .prev {
      @include navigation-icon;
      transform: rotate(180deg);
      float: left;
    }
    
    .next {
      @include navigation-icon;
      float: right;
    }

  }

  .MuiCard-root {
    border: 1px solid #EEEEEE;
  }

  .card-size {
    width: 28%;
    margin: 2%;
    display: inline-block;
    text-align: left;
  }



  .active {
    border: 2px solid $base-color;
  }

  .degrees {
    width: 0.5em !important;
  }

  @media only screen and (max-width: 600px) {
    .MuiTypography-h4 {
      font-size: 1.6rem;
    }
    .MuiTypography-h6 {
      font-size: 0.9rem;
    }
  
  }
 
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}